@import '../node_modules/posy-fnb-ds/src/styles/typography.css';
@import '../node_modules/posy-fnb-ds/src/styles/radio.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  max-width: 576px;
  margin: auto;
}
